<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>traiNote</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../../style.css"/>
</head>
<body>
<div align="center">
  <div id="logoDiv"><a href="/" id="logo">traiNote</a></div>
  <h1  id="naglowek">Dodaj serię</h1>
  <div class="funkcyjny"><a class="funk" th:href="@{'/wyswietlCwiczenie/'+${cwiczenieID}}">Wróć</a></div>
  <div id="content">
      <table id="table" cellpadding="15">
        <form action="#" th:action="@{'/zapiszSerie/'+${cwiczenie_id}}" th:object="${seria}" method="post">
          <tr>
            <td>Ilość powtórzeń</td>
            <td>
              <input th:type="text" th:field="*{ilosc_powtorzen}"/>
            </td>
          </tr>
          <tr>
            <td>Obciążenie</td>
            <td>
              <input th:type="text" th:field="*{obciazenie}"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center"><button type="submit">SUBMIT</button></td>
          </tr>
        </form>
      </table>
  </div>
</div>

</body>
</html>