<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>traiNote</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../../style.css"/>
</head>
<body>
<div align="center">
  <div id="logoDiv"><a href="/" id="logo">traiNote</a></div>
  <h1  id="naglowek">Wybór raportu</h1>
  <div class="funkcyjny"><a class="funk" href="/">Wróć</a></div>
  <div id="content">
    <table id="table" cellpadding="15">
      <form action="#" th:action="@{'/wyswietlenieRaportu/'}"  th:object="${cwiczenie}" method="post">

        <tr>
          <td>Nazwa cwiczenia</td>
          <td>
            <select th:field="*{nazwa_cwiczenia}">
              <option value=""> -- </option>
              <option th:each="nazwa_cwiczenia : ${listaNazw}"
                      th:value="${nazwa_cwiczenia.id}"
                      th:utext="${nazwa_cwiczenia.nazwa}"/>
            </select>
          </td>
        </tr>

        <tr>
          <td colspan="2" align="center"><button type="submit">SUBMIT</button></td>
        </tr>
      </form>
    </table>
  </div>
</div>

</body>
</html>