<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>traiNote</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../../style.css"/>
</head>
<body>
<div align="center">
    <div id="logoDiv"><a href="/" id="logo">traiNote</a></div>
    <h1 id="naglowek">Lista cwiczeń</h1>

    <ul class="przyciski">
        <li><div class="funkcyjny"><a class="funk" th:href="@{'/dodajCwiczenie/'+${treningID}}">Dodaj ćwiczenie</a></div></li>
        <li><div class="funkcyjny"><a class="funk" href="/">Wróć</a></div></li>
    </ul>

    <div id="content">
        <a th:text="'Trening z dnia '+${dataTreningu}" style="color: white; font-size: 30px">.Test</a>
        <table id="table" cellpadding="15">
            <thead>
            <tr>
                <th>Nazwa cwiczenia</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cwiczenie:${listaCwiczen}">
                <td th:text="${cwiczenie.nazwa_cwiczenia.nazwa}">nazwaID</td>
                <td>
                    <a class="button" th:href="@{'/wyswietlCwiczenie/'+${cwiczenie.id}}" padding="10">Pokaż serie</a>
                    <a class="button" th:href="@{'/usunCwiczenie/'+${cwiczenie.id}}">Usuń cwiczenie</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
